body {
  background-color: green;
}

.cart-counter {
  width: 15px;
  height: 15px;
  background-color: #505cfd;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 8px;
  position: absolute;
  left: -2px;
}

.cart-icon-inner {
  width: 50px;
}

.cart-icon {
  width: 100px;
  padding: 20px 20px;
}

#carouselExample {
  height: 500px;
}

#carouselExample img {
  height: 500px;
}
